body {
    background-color: #18181b;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.content {
    display: flex;
    padding: 5%;
}

.del {
    background: #d4d4d8;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.A-del1 {
    width: 60px;
    height: 300px;
    transform: skewX(-5deg);
    animation: A-del1 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.A-del2 {
    width: 40px;
    height: 60px;
    margin: 170px 0 0 -10px;
    transform: skewY(-3deg);
    animation: A-del2 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.A-del3 {
    width: 60px;
    height: 295px;
    margin: 0 0 0 -20px;
    transform: skewX(5deg);
    animation: A-del3 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.C-del1-1, .C-del1-2 {
    width: 60px;
    height: 82.5px;
    animation: C-del1 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.C-del1-1 {
    margin: 60px 0 0 20px;
}

.C-del1-2 {
    margin: 142.5px 0 0 -60px;
}

.C-del2, .C-del3, .C-del6, .C-del7 {
    width: 60px;
    height: 60px;
    animation: C-del-short 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.C-del2 {
    margin: 225px 0 0 -49px;
    transform: skewX(20deg);
}

.C-del3 {
    margin: 0 0 0 -60px;
    transform: skewX(-20deg);
}

.C-del4, .C-del5 {
    width: 65px;
    height: 60px;
    animation: C-del-wide 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 2;
}

.C-del4 {
    margin: 227px 0 0 -10px;
    transform: skewY(3deg);
}

.C-del5 {
    margin: 0 0 0 -65px;
}

.C-del6 {
    margin: 228px 0 0 -30px;
    transform: skewX(-20deg);
}

.C-del7 {
    margin: 0 0 0 -60px;
    transform: skewX(20deg);
}

.C-del8, .C-del9 {
    width: 60px;
    height: 50px;
    animation: C-del-short 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.C-del8 {
    margin: 60px 0 0 -48px;
}

.C-del9 {
    margin: 184px 0 0 -61px;
}

@media screen and (max-width: 768px) {
    .content {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 480px) {
    .content {
        transform: scale(0.6);
    }
}

/* Animations */
@keyframes A-del1 {
    0% {
        height: 0;
        margin-top: 300px;
        opacity: 0;
    }
    100% {
        height: 300px;
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes A-del2, @keyframes A-del3 {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes C-del1 {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 82.5px;
        opacity: 1;
    }
}

@keyframes C-del-short {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes C-del-wide {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 65px;
        opacity: 1;
    }
}